# Ignorar todo dentro de la carpeta data
data/**

# Pero no ignorar la carpeta clustering
!data/clustering
!data/clustering/**

# Ignorar otras carpetas
.idea/
.venv/

# Ignorar archivos que contengan claves
/tfg-rosa-firebase-adminsdk-85p5h-47a80e26da.json

